* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffdbac;
  color: #333;
}

.para_class {
  font-size: 16px;
  line-height: 1.8;
  color: #6b7280; /* soft gray */
  max-width: 700px;
  margin: 10px auto;
}


/* Header */
header {
  background: #1e293b;
  color: white;
  padding: 30px 20px;
  text-align: center;
}

header h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

/* Container */
.container {
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

/* Info Boxes */
.info-box {
  background: #8d5524;
  border-radius: 12px;
  padding: 25px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s ease;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.info-box h2 {
  margin-bottom: 10px;
  color: #0f172a;
}

.info-box p {
  font-size: 14px;
  color: #555;
}

.info-box:hover {
  transform: translateY(-5px);
  background: #e0f2fe;
}

/* Footer */
footer {
  text-align: center;
  padding: 20px;
  background: #1e293b;
  color: white;
  margin-top: 40px;
}

/* Mobile */
@media (max-width: 600px) {
  header h1 {
    font-size: 24px;
  }
}
